*.o
*.sw[po]
ltmain.sh
*.orig
*.rej
.deps
.dirstamp
.vscode
.idea
fstests/secfs.test
fstests/flock
!fstests/Makefile
jfs
/juicefs
/juicefs.ceph
/juicefs.exe
/juicefs.lite
dist/
*.rdb
.release-env
*.so
libjfs.h
.DS_Store
docs/node_modules
cmd/cmd
*.dump
*.out
.hypothesis
__pycache__
