{
  "Setting": {
    "Name": "load-dump-test",
    "UUID": "faa27c8f-edab-4791-a4e0-1620b732b343",
    "Storage": "file",
    "Bucket": "/Users/juicefs/.juicefs/local/",
    "SecretKey": "removed",
    "BlockSize": 4096,
    "Compression": "none",
    "EncryptKey": "AQSttslKOSE/hQT/gmaMniCsdPF8JdPRfoYK6zFkdUOnifYwBA==",
    "KeyEncrypted": true,
    "TrashDays": 1,
    "MetaVersion": 1,
    "EnableACL": true
  },
  "Counters": {
    "usedSpace": 115392512,
    "usedInodes": 14,
    "nextInodes": 35,
    "nextChunk": 9,
    "nextSession": 0,
    "nextTrash": 1
  },
  "Sustained": [],
  "DelFiles": [
    {
      "inode": 23,
      "length": 0,
      "expire": 1637664458
    }
  ],
  "Quotas": {
    "1": {
      "maxSpace": 1073741824,
      "maxInodes": 100
    }
  },
  "FSTree": {
    "attr": {"inode":1,"type":"directory","mode":511,"uid":0,"gid":0,"atime":1623745101,"mtime":1638437879,"ctime":1638437879,"nlink":5,"length":0},
    "xattrs": [{"name":"lastBackup","value":"2021-11-23T18:29:54+08:00"}],
    "posix_acl_access": {"owner":6,"group":4,"other":4,"mask":4,"users":null,"groups":null},
    "entries": {
      "GBK%B9%FB֭%CA%FD%BEݿƼ%BC%D3%D0%CF޹%AB˾%CEļ%FE": {
        "attr": {"inode":34,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1648717321,"mtime":1648717321,"ctime":1648717321,"atimensec":401146141,"mtimensec":401146141,"ctimensec":401146141,"nlink":1,"length":0},
        "posix_acl_access": {"owner":6,"group":4,"other":4,"mask":4,"users":[{"id":1,"perm":6},{"id":2,"perm":7}],"groups":null},
        "posix_acl_default": {"owner":7,"group":5,"other":5,"mask":5,"users":null,"groups":[{"id":3,"perm":6},{"id":4,"perm":7}]}
      },
      "UTF8果汁数据科技有限公司文件": {
        "attr": {"inode":33,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1648717211,"mtime":1648717211,"ctime":1648717211,"atimensec":36325414,"mtimensec":36325414,"ctimensec":36325414,"nlink":1,"length":0}
      },
      "UTF8果汁数据科技有限公司目录": {
        "attr": {"inode":32,"type":"directory","mode":493,"uid":501,"gid":0,"atime":1648717173,"mtime":1648717173,"ctime":1648717173,"atimensec":605897411,"mtimensec":605897411,"ctimensec":605897411,"nlink":2,"length":0},
        "entries": {
        }
      },
      "d": {
        "attr": {"inode":25,"type":"directory","mode":493,"uid":1,"gid":0,"atime":1637664458,"mtime":1637664458,"ctime":1637664458,"atimensec":862381233,"mtimensec":862381233,"ctimensec":862381233,"nlink":2,"length":0},
        "entries": {
        }
      },
      "d1": {
        "attr": {"inode":3,"type":"directory","mode":493,"uid":501,"gid":20,"atime":1623746591,"mtime":1623746610,"ctime":1623746610,"atimensec":959224111,"mtimensec":959224111,"ctimensec":959224111,"nlink":2,"length":0},
        "xattrs": [{"name":"dk","value":"果汁%2525"}],
        "entries": {
          "big": {
            "attr": {"inode":6,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1637150857,"mtime":1637150858,"ctime":1637150878,"atimensec":961503222,"mtimensec":961503222,"ctimensec":961503222,"nlink":1,"length":104857600},
            "posix_acl_default": {"owner":7,"group":5,"other":5,"mask":5,"users":null,"groups":[{"id":5,"perm":4},{"id":6,"perm":4}]},
            "chunks": [
              {"index":0,"slices":[{"id":5,"size":67108864,"len":67108864}]},
              {"index":1,"slices":[{"id":6,"size":37748736,"len":37748736}]}
            ]
          },
          "f11": {
            "attr": {"inode":4,"type":"regular","mode":420,"uid":501,"gid":20,"atime":1623746610,"mtime":1623746610,"ctime":1623746639,"atimensec":591590333,"mtimensec":591590333,"ctimensec":591590333,"nlink":2,"length":12},
            "chunks": [{"index":0,"slices":[{"id":2,"size":12,"len":12}]}]
          }
        }
      },
      "f1": {
        "attr": {"inode":2,"flags":128,"type":"regular","mode":420,"uid":501,"gid":20,"atime":1623746580,"mtime":1623746661,"ctime":1623746661,"atimensec":219686444,"mtimensec":219686444,"ctimensec":219686444,"nlink":1,"length":24},
        "xattrs": [{"name":"k","value":"v"}],
        "posix_acl_access": {"owner":6,"group":4,"other":4,"mask":4,"users":[{"id":1,"perm":6},{"id":2,"perm":7}],"groups":null},
        "posix_acl_default": {"owner":7,"group":5,"other":5,"mask":5,"users":null,"groups":[{"id":3,"perm":6},{"id":4,"perm":7}]},
        "chunks": [{"index":0,"slices":[{"id":1,"size":6,"len":6},{"id":2,"size":12,"len":12},{"id":4,"size":24,"len":24}]}]
      },
      "l1": {
        "attr": {"inode":4,"type":"regular","mode":420,"uid":501,"gid":20,"atime":1623746610,"mtime":1623746610,"ctime":1623746639,"atimensec":591590333,"mtimensec":591590333,"ctimensec":591590333,"nlink":2,"length":12},
        "chunks": [{"index":0,"slices":[{"id":2,"size":12,"len":12}]}]
      },
      "s1": {
        "attr": {"inode":5,"type":"symlink","mode":420,"uid":501,"gid":20,"atime":1623746645,"mtime":1623746645,"ctime":1623746645,"atimensec":984144666,"mtimensec":984144666,"ctimensec":984144666,"nlink":1,"length":0},
        "symlink": "GBK%B9%FB֭%CA%FD%BEݿƼ%BC%D3%D0%CF޹%AB˾%CEļ%FE"
      },
      "sd": {
        "attr": {"inode":26,"type":"symlink","mode":420,"uid":1,"gid":0,"atime":1637664458,"mtime":1637664458,"ctime":1637664458,"atimensec":873647777,"mtimensec":873647777,"ctimensec":873647777,"nlink":1,"length":0},
        "symlink": "d"
      }
    }
  },
  "Trash": {
    "attr": {"inode":9223372032828243968,"type":"directory","mode":365,"uid":0,"gid":0,"atime":1623745101,"mtime":1638437877,"ctime":1638437877,"nlink":2,"length":0},
    "entries": {
      "2021-12-02-09": {
        "attr": {"inode":9223372032828243969,"type":"directory","mode":365,"uid":0,"gid":0,"atime":1638437877,"mtime":1638437877,"ctime":1638437877,"atimensec":598277000,"mtimensec":598277000,"ctimensec":598277000,"nlink":2,"length":0},
        "entries": {
          "1-27-tf1": {
            "attr": {"inode":27,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1638437852,"mtime":1638437852,"ctime":1638437877,"atimensec":28186000,"mtimensec":28186000,"ctimensec":28186000,"nlink":1,"length":11},
            "chunks": [{"index":0,"slices":[{"id":7,"size":11,"len":11}]}]
          },
          "1-28-td1": {
            "attr": {"inode":28,"type":"directory","mode":493,"uid":501,"gid":0,"atime":1638437856,"mtime":1638437879,"ctime":1638437879,"atimensec":59246000,"mtimensec":59246000,"ctimensec":59246000,"nlink":2,"length":0},
            "entries": {
            }
          },
          "28-29-tdf1": {
            "attr": {"inode":29,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1638437873,"mtime":1638437873,"ctime":1638437879,"atimensec":449880000,"mtimensec":449880000,"ctimensec":449880000,"nlink":1,"length":10485760},
            "chunks": [{"index":0,"slices":[{"id":8,"size":10485760,"len":10485760}]}]
          }
        }
      }
    }
  }
}
