{
  "Setting": {
    "Name": "load-dump-test",
    "UUID": "faa27c8f-edab-4791-a4e0-1620b732b343",
    "Storage": "file",
    "Bucket": "/Users/juicefs/.juicefs/local/",
    "SecretKey": "removed",
    "BlockSize": 4096,
    "Compression": "none",
    "EncryptKey": "AQSttslKOSE/hQT/gmaMniCsdPF8JdPRfoYK6zFkdUOnifYwBA==",
    "KeyEncrypted": true,
    "TrashDays": 1,
    "MetaVersion": 1,
    "EnableACL": true
  },
  "Counters": {
    "usedSpace": 115392512,
    "usedInodes": 14,
    "nextInodes": 35,
    "nextChunk": 9,
    "nextSession": 0,
    "nextTrash": 1
  },
  "Sustained": [],
  "DelFiles": [
    {
      "inode": 23,
      "length": 0,
      "expire": 1637664458
    }
  ],
  "Quotas": {
    "1": {
      "maxSpace": 1073741824,
      "maxInodes": 100
    }
  },
  "FSTree": {
    "attr": {"inode":3,"type":"directory","mode":493,"uid":501,"gid":20,"atime":1623746591,"mtime":1623746610,"ctime":1623746610,"atimensec":959224111,"mtimensec":959224111,"ctimensec":959224111,"nlink":2,"length":0},
    "xattrs": [{"name":"dk","value":"果汁%2525"}],
    "entries": {
      "big": {
        "attr": {"inode":6,"type":"regular","mode":420,"uid":501,"gid":0,"atime":1637150857,"mtime":1637150858,"ctime":1637150878,"atimensec":961503222,"mtimensec":961503222,"ctimensec":961503222,"nlink":1,"length":104857600},
        "posix_acl_default": {"owner":7,"group":5,"other":5,"mask":5,"users":null,"groups":[{"id":5,"perm":4},{"id":6,"perm":4}]},
        "chunks": [
          {"index":0,"slices":[{"id":5,"size":67108864,"len":67108864}]},
          {"index":1,"slices":[{"id":6,"size":37748736,"len":37748736}]}
        ]
      },
      "f11": {
        "attr": {"inode":4,"type":"regular","mode":420,"uid":501,"gid":20,"atime":1623746610,"mtime":1623746610,"ctime":1623746639,"atimensec":591590333,"mtimensec":591590333,"ctimensec":591590333,"nlink":2,"length":12},
        "chunks": [{"index":0,"slices":[{"id":2,"size":12,"len":12}]}]
      }
    }
  }
}
