name: "list-test"

on:
  schedule:
    - cron:  '0 20 * * *'
  workflow_dispatch:

jobs:
  list:
    strategy:
      fail-fast: false
      matrix:
        meta: [ 'sqlite3', 'redis', 'mysql',  'postgres', 'fdb']
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18.x'

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go
          restore-keys: |
            ${{ runner.os }}-go

      - name: Build linux target
        run: |
          if [ "${{matrix.meta}}" == "fdb" ]; then
            echo "build juicefs.fdb"
            wget -q https://github.com/apple/foundationdb/releases/download/6.3.23/foundationdb-clients_6.3.23-1_amd64.deb
            sudo dpkg -i foundationdb-clients_6.3.23-1_amd64.deb
            make juicefs.fdb
            mv juicefs.fdb juicefs
          else
            echo "build juicefs"
            make juicefs 
          fi
        shell: bash

      - name: Prepare meta db
        run: | 
          sudo chmod +x .github/scripts/start_meta_engine.sh
          source .github/scripts/start_meta_engine.sh
          start_meta_engine ${{matrix.meta}}

      - name: Download dump file
        run: |
          sudo chmod 777 /var
          git clone https://github.com/sanwan/actionfile.git
          cd actionfile
          cat META_7M_EMPTY_FILE.json.gz* >META_7M_EMPTY_FILE.json.gz
          gzip -dk  META_7M_EMPTY_FILE.json.gz
          ls -lh
          mv META_7M_EMPTY_FILE.json ../
          cd ../
          ls -lh
      
      - name: Load
        timeout-minutes: 30
        run: | 
          sudo chmod +x .github/scripts/start_meta_engine.sh
          source .github/scripts/start_meta_engine.sh
          meta_url=$(get_meta_url ${{matrix.meta}})
          create_database $meta_url
          mount_point=/tmp/juicefs-load-test
          load_file=META_7M_EMPTY_FILE.json
          echo `date`, start load
          sudo ./juicefs load $meta_url $load_file
          echo `date`, finish load
          sudo ./juicefs mount $meta_url $mount_point -d

      - name: List
        timeout-minutes: 30
        run: |
          cd /tmp/juicefs-load-test/createfile/
          ls -lh |wc -l >/tmp/count.log
          cat /tmp/count.log | grep 7000001
          if [ $? != 0 ];then echo "file num is error";exit 1; fi

      - name: Send Slack Notification
        if: ${{ failure() }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"