name: "rediscompile"

on:
  push:
    branches:
      - 'release-**'
    paths-ignore:
      - 'docs/**'
  pull_request:
    #The branches below must be a subset of the branches above
    branches:
      - 'release-**'
    paths-ignore:
      - 'docs/**'
  schedule:
    - cron:  '30 20 * * *'
  workflow_dispatch:

jobs:
  rediscompile:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17.x'

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Build linux target
        run: make juicefs


      - name: Juicefs Format
        run: |
          sudo ./juicefs format sqlite3:///tmp/myjfs.db pics

      - name: Juicefs Mount
        run: |
          sudo ./juicefs mount -d sqlite3:///tmp/myjfs.db /tmp/jfs --no-usage-report


      - name: Compile Redis
        run: |
          cd /tmp/jfs
          wget -O redis.tar.gz https://github.com/redis/redis/archive/refs/tags/6.0.16.tar.gz
          mkdir redis
          tar -xvf redis.tar.gz -C redis --strip-components 1
          cd redis
          make
          make test
          stat /tmp/jfs

      - name: Send Slack Notification
        if: ${{ failure() }}
        id: slack
        uses: slackapi/slack-github-action@v1.18.0
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack-message: "@${{ github.actor}} CI Check ${{ job.status }} on ${{ github.event_name }}\n${{ github.event.pull_request.title || github.event.head_commit.message }} \nhttps://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}  

      - name: Setup upterm session
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1

  