name: "rm-directory"

on:
  push:
    branches:
      - 'release-**'
    paths-ignore:
      - 'docs/**'
  pull_request:
    #The branches below must be a subset of the branches above
    branches:
      - 'release-**'
    paths-ignore:
      - 'docs/**'
  schedule:
    - cron:  '0 20 * * *'
  workflow_dispatch:

jobs:
  pg-directory:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Init
        run: |
          sudo chmod 777 /var
          git clone https://github.com/sanwan/actionfile.git
          cd actionfile
          cat META_4M_EMPTY_FILE_RM.json.gz* >META_4M_EMPTY_FILE_RM.json.gz
          gzip -dk  META_4M_EMPTY_FILE_RM.json.gz
          ls -lh
          mv META_4M_EMPTY_FILE_RM.json ../
          cd ../
          ls -lh
      - name: Load
        uses: ./.github/actions/load
        with:
          meta_url: "postgres://postgres:postgres@127.0.0.1:5432/sync_test?sslmode=disable"
          load_file: "META_4M_EMPTY_FILE_RM.json"
      - name: Rm 400w Files in a Directory of 400 Children Directory
        run: |
          cd /tmp/juicefs-sync-test/
          sudo chmod 777 mkdir
          echo "rm 400w files in a directory of 400 children directory"
          git clone https://github.com/juicedata/juicefs.git
          cd juicefs
          make
          sudo ./juicefs rmr ../mkdir/
          cd ..
          ls -lah |wc -l | grep 8
      - name: Log
        if: ${{ failure() }}
        run: |
          sudo tail -n 100 /var/log/juicefs.log
      - name: Send Slack Notification
        if: ${{ failure() }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1


  mysql-directory:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Init
        run: |
          sudo chmod 777 /var
          sudo /etc/init.d/mysql start
          git clone https://github.com/sanwan/actionfile.git
          cd actionfile
          cat META_4M_EMPTY_FILE_RM.json.gz* >META_4M_EMPTY_FILE_RM.json.gz
          gzip -dk  META_4M_EMPTY_FILE_RM.json.gz
          ls -lh
          mv META_4M_EMPTY_FILE_RM.json ../
          cd ../
          ls -lh
      - name: Load
        uses: ./.github/actions/load
        with:
          meta_url: "mysql://root:root@\\(127.0.0.1\\)/sync_test"
          load_file: "META_4M_EMPTY_FILE_RM.json"
      - name: Rm 400w Files in a Directory of 400 Children Directory
        run: |
          cd /tmp/juicefs-sync-test/
          sudo chmod 777 mkdir
          echo "rm 400w files in a directory of 400 children directory"
          git clone https://github.com/juicedata/juicefs.git
          cd juicefs
          make
          sudo ./juicefs rmr ../mkdir/
          cd ..
          ls -lah |wc -l | grep 8
      - name: Log
        if: ${{ failure() }}
        run: |
          sudo tail -n 100 /var/log/juicefs.log
      - name: Send Slack Notification
        if: ${{ failure() }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1


  redis-directory:
    runs-on: ubuntu-latest
    services:
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port 6379 on service container to the host
          - 6379:6379
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Init
        run: |
          sudo chmod 777 /var
          git clone https://github.com/sanwan/actionfile.git
          cd actionfile
          cat META_4M_EMPTY_FILE_RM.json.gz* >META_4M_EMPTY_FILE_RM.json.gz
          gzip -dk  META_4M_EMPTY_FILE_RM.json.gz
          ls -lh
          mv META_4M_EMPTY_FILE_RM.json ../
          cd ../
          ls -lh
      - name: Load
        uses: ./.github/actions/load
        with:
          meta_url: redis://127.0.0.1:6379/1
          load_file: "META_4M_EMPTY_FILE_RM.json"
      - name: Rm 400w Files in a Directory of 400 Children Directory
        run: |
          cd /tmp/juicefs-sync-test/
          sudo chmod 777 mkdir
          echo "rm 400w files in a directory of 400 children directory"
          git clone https://github.com/juicedata/juicefs.git
          cd juicefs
          make
          sudo ./juicefs rmr ../mkdir/
          cd ..
          ls -lah |wc -l | grep 8
      - name: Log
        if: ${{ failure() }}
        run: |
          sudo tail -n 100 /var/log/juicefs.log
      - name: Send Slack Notification
        if: ${{ failure() }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1

  sqlite3-directory:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Init
        run: |
          sudo chmod 777 /var
          git clone https://github.com/sanwan/actionfile.git
          cd actionfile
          cat META_4M_EMPTY_FILE_RM.json.gz* >META_4M_EMPTY_FILE_RM.json.gz
          gzip -dk  META_4M_EMPTY_FILE_RM.json.gz
          ls -lh
          mv META_4M_EMPTY_FILE_RM.json ../
          cd ../
          ls -lh
      - name: Load
        uses: ./.github/actions/load
        with:
          meta_url: sqlite3://sync-test.db
          load_file: "META_4M_EMPTY_FILE_RM.json"
      - name: Rm 400w Files in a Directory of 400 Children Directory
        run: |
          cd /tmp/juicefs-sync-test/
          sudo chmod 777 mkdir
          echo "rm 400w files in a directory of 400 children directory"
          git clone https://github.com/juicedata/juicefs.git
          cd juicefs
          make
          sudo ./juicefs rmr ../mkdir/
          cd ..
          ls -lah |wc -l | grep 8
      - name: Log
        if: ${{ failure() }}
        run: |
          sudo tail -n 100 /var/log/juicefs.log
      - name: Send Slack Notification
        if: ${{ failure() }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1