name: "unittests"

on:
  push:
    branches:
      - 'main'
      - 'release-*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
  pull_request:
    #The branches below must be a subset of the branches above
    branches:
      - 'main'
      - 'release-*'
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '.github/**'
  workflow_dispatch:
    inputs:
      debug:
        type: boolean
        description: "Run the build with tmate debugging enabled"
        required: false
        default: false
permissions:
  contents: read
  
jobs:
  unittests:
    strategy:
      fail-fast: true
      matrix:
        test: [ 'test.pkg', 'test.cmd', 'test.fdb' ]
    timeout-minutes: 60
    runs-on: ubuntu-20.04
    env:
      MINIO_TEST_BUCKET: 127.0.0.1:9000/testbucket
      MINIO_ACCESS_KEY: testUser
      MINIO_SECRET_KEY: testUserPassword
      DISPLAY_PROGRESSBAR: false
      HDFS_ADDR: localhost:8020
      SFTP_HOST: localhost:2222:/upload/
      SFTP_USER: root
      SFTP_PASS: password
      WEBDAV_TEST_BUCKET: 127.0.0.1:9007
      TIKV_ADDR: 127.0.0.1
      REDIS_ADDR: redis://127.0.0.1:6379/13
      ETCD_ADDR: 127.0.0.1:3379
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Display cache list
        run: |
          curl -L \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{secrets.GITHUB_TOKEN}}"\
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/juicedata/juicefs/actions/caches

      - name: Build
        uses: ./.github/actions/build

      - name: Install Packages
        run: |
          sudo .github/scripts/apt_install.sh g++-multilib libacl1-dev attr
          sudo mkdir -p /home/travis/.m2/

      - name: Install redis
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: '6.x'

      - if: matrix.test == 'test.pkg'
        name: Install redis-cluster
        uses: vishnudxb/redis-cluster@1.0.5
        with:
            master1-port: 7000
            master2-port: 7001
            master3-port: 7002
            slave1-port: 7003
            slave2-port: 7004
            slave3-port: 7005

      - name: Download Zip
        run: |
          test=${{matrix.test}}
          if [ "$test" == "test.pkg" ];then
            # tikv
            wget -O /home/travis/.m2/install.sh https://tiup-mirrors.pingcap.com/install.sh
            
            # rclone downloaded to start the webdav service
            wget -O /home/travis/.m2/rclone-v1.57.0-linux-amd64.zip --no-check-certificate https://downloads.rclone.org/v1.57.0/rclone-v1.57.0-linux-amd64.zip
            unzip /home/travis/.m2/rclone-v1.57.0-linux-amd64.zip -d /home/travis/.m2/
            
          elif [ "$test" == "test.cmd" ];then
            # litmus is used to test webdav
            wget -O /home/travis/.m2/litmus-0.13.tar.gz http://www.webdav.org/neon/litmus/litmus-0.13.tar.gz
            tar -zxvf /home/travis/.m2/litmus-0.13.tar.gz -C /home/travis/.m2/
            cd  /home/travis/.m2/litmus-0.13/ && ./configure && make && cd -
          elif [ "$test" == "test.fdb" ];then
            # foundationdb
            wget -O /home/travis/.m2/foundationdb-clients_6.3.23-1_amd64.deb https://github.com/apple/foundationdb/releases/download/6.3.23/foundationdb-clients_6.3.23-1_amd64.deb
            wget -O /home/travis/.m2/foundationdb-server_6.3.23-1_amd64.deb https://github.com/apple/foundationdb/releases/download/6.3.23/foundationdb-server_6.3.23-1_amd64.deb
          fi
      - name: Prepare Database
        run: |
          test=${{matrix.test}}
          if [ "$test" == "test.pkg" ]; then
            # mysql
            sudo service mysql start
            sudo mysql -uroot -proot -e "use mysql;alter user 'root'@'localhost' identified with mysql_native_password by '';"
            sudo mysql -e "create database dev;"
            sudo service postgresql start
            
            # keydb
            echo "deb https://download.keydb.dev/open-source-dist $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/keydb.list
            sudo wget -O /etc/apt/trusted.gpg.d/keydb.gpg https://download.keydb.dev/open-source-dist/keyring.gpg
            sudo .github/scripts/apt_install.sh keydb
            keydb-server --storage-provider  flash /tmp/ --port 6378 --bind 127.0.0.1 --daemonize yes
            keydb-server --port 6377 --bind 127.0.0.1 --daemonize yes
            
            # postgres
            sudo chmod 777 /etc/postgresql/*/main/pg_hba.conf
            sudo sed  -i "s?local.*all.*postgres.*peer?local   all             postgres                                trust?" /etc/postgresql/*/main/pg_hba.conf
            sudo sed  -i "s?host.*all.*all.*32.*scram-sha-256?host    all             all             127.0.0.1/32            trust?" /etc/postgresql/*/main/pg_hba.conf
            sudo sed  -i "s?host.*all.*all.*128.*scram-sha-256?host    all             all             ::1/128                 trust?" /etc/postgresql/*/main/pg_hba.conf
            cat /etc/postgresql/*/main/pg_hba.conf
            sudo service postgresql restart
            psql -c "create user runner superuser;" -U postgres
            sudo service postgresql restart
            psql -c 'create database test;' -U postgres
            
            # tikv
            bash /home/travis/.m2/install.sh
            source /home/runner/.bash_profile
            tiup -v
            nohup tiup playground --mode tikv-slim >> output.log 2>&1 &
            
            # etcd
            docker run -d \
            -p 3379:2379 \
            -p 3380:2380 \
            --name etcd_3_5_7 \
            quay.io/coreos/etcd:v3.5.7 \
            /usr/local/bin/etcd --data-dir=/etcd-data --name node1 \
            --listen-client-urls http://0.0.0.0:2379 \
            --advertise-client-urls http://0.0.0.0:2379 \
            --listen-peer-urls http://0.0.0.0:2380 \
            --initial-advertise-peer-urls http://0.0.0.0:2380 \
            --initial-cluster node1=http://0.0.0.0:2380
            
            # minio
            docker run -d -p 9000:9000 -p 9001:9001 -e "MINIO_ROOT_USER=testUser" -e "MINIO_ROOT_PASSWORD=testUserPassword" quay.io/minio/minio:RELEASE.2022-01-25T19-56-04Z server /data --console-address ":9001"
            
            # mc
            go install github.com/minio/mc@RELEASE.2022-01-07T06-01-38Z && mc config host add local http://127.0.0.1:9000 testUser testUserPassword && mc mb local/testbucket
            
            # webdav
            nohup /home/travis/.m2/rclone-v1.57.0-linux-amd64/rclone serve webdav local --addr 127.0.0.1:9007 >> rclone.log 2>&1 &
           
            # sftp
            docker run -d --name sftp -p 2222:22  juicedata/ci-sftp
            
            # hdfs
            chmod +x .github/scripts/setup-hdfs.sh
            sudo lsof -i :8020 || true
            ./.github/scripts/setup-hdfs.sh
          
            for i in {2222,3306,5432,8020,9000,9007,2379} ; do echo "lsof port:"$i;sudo lsof -i :$i;if [ $? != 0 ];then sleep 5; else continue; fi;sudo lsof -i :$i; if [ $? != 0 ];then echo "service not ready, port:"$i; exit 1;fi; done
          elif [ "$test" == "test.fdb" ]; then
            # foundationdb
            sudo dpkg -i /home/travis/.m2/foundationdb-clients_6.3.23-1_amd64.deb /home/travis/.m2/foundationdb-server_6.3.23-1_amd64.deb
            for i in {4500,} ; do echo "lsof port:"$i;sudo lsof -i :$i;if [ $? != 0 ];then sleep 5; else continue; fi;sudo lsof -i :$i; if [ $? != 0 ];then echo "service not ready, port:"$i; exit 1;fi; done
          fi
          
      - name: Unit Test
        timeout-minutes: 30
        run: |
          test=${{matrix.test}}
          make $test
      - name: Code Coverage
        uses: codecov/codecov-action@v3
        with:
          files: ./cov.out

      - name: Setup upterm session
        if: ${{ failure() && github.event_name == 'workflow_dispatch' && github.event.inputs.debug == 'true' }}
        timeout-minutes: 120
        uses: lhotari/action-upterm@v1


  success-all-test:
    runs-on: ubuntu-latest
    needs: [unittests]
    if: always()
    steps:
      - uses: technote-space/workflow-conclusion-action@v3
      - uses: actions/checkout@v3

      - name: Check Failure
        if: env.WORKFLOW_CONCLUSION == 'failure'
        run: exit 1

      - name: Send Slack Notification
        if: ${{ failure() && github.event_name != 'workflow_dispatch' }}
        uses: juicedata/slack-notify-action@main
        with:
          channel-id: "${{ secrets.SLACK_CHANNEL_ID_FOR_PR_CHECK_NOTIFY }}"
          slack_bot_token: "${{ secrets.SLACK_BOT_TOKEN }}"

      - name: Success
        if: ${{ success() }}
        run: echo "All Done"

